:root {
    --bg: rgba(255, 255, 255);
    --primary: rgba(189, 174, 116, 0.7);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    overflow-x: hidden;
    background: var(--bg);
}


main {
    overflow-x: hidden;
    touch-action: manipulation;
    background: var(--bg);
    min-height: calc(100vh - 20px);
    /* margin-top: 60px; */
}

main header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

main h1 {
    font-size: 16px;
    font-weight: 100;
    display: inline-block;
    padding: 5px;
    background: var(--primary);
    color: #fff;
}

main table {
    border-collapse: collapse;
    table-layout: fixed;
}

main table tr {
    border-bottom: 1px solid #eee
}

main table tr th {
    font-size: 14px;
    word-break: keep-all;
    padding: 10px;
    color: var(--primary);
    text-align: left;
}

main table tr td {
    font-size: 13px;
    color: var(--primary);
    padding: 10px;
    text-align: left;
}


main table tr td:nth-child(1) {
    word-break: break-word;
}

main table tr td:nth-child(2) {
    word-break: keep-all;
    padding: 10px 5px;
}

main table tr td:nth-child(3) {
    word-break: break-all;
    letter-spacing: 2px;
    line-height: 1.8;
}


.circle {
    box-sizing: content-box;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background: var(--primary);
    position: fixed;
    line-height: 150px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    /* box-shadow: 1px 2px 30px var(--primary) */
}

.circle2 {
    top: 0;
    left: 0;
    box-sizing: content-box;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    line-height: 150px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 100;
}


.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .7);
    width: 100%;
    box-shadow: -1px -2px 3px rgba(0, 0, 0, 0.1);
}

.fixed-bottom>a {
    display: inline-block;
    padding: 15px;
    color: var(--primary);
    border-right: 1px solid var(--primary);
    text-decoration: none;
}


/* 动画 */
.press {
    transition: transform 500ms;
    transform: scale(0.7) !important;
    opacity: 0.7;
}

.pressup {
    transition: transform 500ms;
}


.tap {
    animation: tap 500ms;
}

@keyframes tap {
    50% {
        transform: scale(.9);
        opacity: .8;
    }
}

.doubletap {
    animation: doubletap 1000ms;
}

@keyframes doubletap {
    25% {
        transform: scale(0.6);
        opacity: .7;
    }

    50% {
        transform: scale(1);
    }


    75% {
        transform: scale(.6);
        opacity: .7;
    }
}

.threetap {
    animation: threetap 1000ms;
}

@keyframes threetap {
    10% {
        transform: scale(0.6) translateY(100%);
        opacity: .7;
    }

    30% {
        transform: scale(1);
    }

    50% {
        transform: scale(.6) translateX(-30%);;
        opacity: .7;
    }

    70% {
        transform: scale(1);
    }

    90% {
        transform: scale(.6) translateX(30%);;
        opacity: .7;
    }

    to {
        transform: scale(1);
    }

}

.fourtap {
    animation: fourtap 500ms;
}

@keyframes fourtap {
    from {
        transform: scale(-.5) skew(-15deg);
        opacity: 0.5;
    }

    50% {
        transform: scale(-.3) skew(15deg);
    }

    to {
        transform: scale(1);
    }
}

.swipeup {
    animation: swipeUp 300ms ease-out;
}

@keyframes swipeUp {
    50% {
        opacity: 0.5;
        transform: translateY(-300px);
    }
}


.swipedown {
    animation: swipeDown 300ms ease-in-out;
}

@keyframes swipeDown {
    50% {
        opacity: 0.5;
        transform: translateY(300px);
    }
}


.swiperight {
    animation: swipeRight 300ms ease-in-out;
}

@keyframes swipeRight {
    50% {
        opacity: 0.5;
        transform: translateX(300px);
    }
}

.swipeleft {
    animation: swipeLeft 300ms ease-in-out;
}

@keyframes swipeLeft {
    50% {
        opacity: 0.5;
        transform: translateX(-300px);
    }
}


.box{padding:50px;position: fixed;top:20%;left:20%;background:#f50;}